<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Vitae</title>
    <link rel="stylesheet" href="../css/style.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>
<body>
    <div class="micontenedor py-3">
      <!-- navbar -->
      <nav class="navbar">
        <div class="container-fluid">
          <h4>Rodrigo Fabrizio Barrios Saavedra</h4>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="rounded-3 offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Mi Perfil</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <div class="d-flex gap-5 justify-content-center">
                    <ul class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px">
                      <li><a class="dropdown-item rounded-2 active" href="#">Action</a></li>
                      <li><a class="dropdown-item rounded-2" href="#">Another action</a></li>
                      <li><a class="dropdown-item rounded-2" href="#">Something else here</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item rounded-2" href="#">Separated link</a></li>
                    </ul>
                  </div>
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <!-- fin navbar 
      <h4 class="py-3">Rodrigo Fabrizio Barrios Saavedra</h4>-->
      <h6>Documento de Identidad: 71447422</h6>
      <h6>Fecha Nacimiento: 19/03/2004</h6>
      <hr>
      <div class="row align-items-md-stretch">
        <div class="col-md-6 mb-4">
          <div class="h-100 p-5 bg-light border rounded-3 shadow-lg">
            <h3 class="text-primary">Informacion</h3>
            <h5 class="info">
                Soy estudiante de la carrera de ingeniería de software
                con I.A y mi objetivo es mejorar y poner en práctica mis
                habilidades en la Empresa cabe mencionar que soy
                una persona responsable y de confianza con buenos
                valores y morales siendo fiable al trabajo pudiendo
                integrarme con facilidad e interactuar en grupo o
                trabajar individualmente en distintas funciones
                asignadas aplicando los conocimientos adquiridos a
                través de la enseñanza y el empeño de mi carrera.
            </h5>
            <h4 class="text-primary">Experiencia Laboral</h4>

            <li>CopyHouse Centro de Tipeos - Chincha</li>
            <h6>Cargo: tipeado e impresiones y creador de Pagina Web</h6>
            <h6>Tiempo: 08/07/22 - 29/11/22</h6>

            <div class="py-3"></div>

            <li>Valent France</li>
            <h6>Cargo: Programador de Pagina Web</h6>
            <h6>Tiempo: Part-Time 05/08/22 - 10/09/22</h6>

            <div class="py-3"></div>

            <li>Vamas S.A.C</li>
            <h6>Cargo: Programador Back End</h6>
            <h6>Tiempo: /09/22</h6>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="h-100 p-5 bg-light border rounded-3 shadow-lg">
            <h2>Estudios</h2>
            <h4 class="text-primary py-2">Estudios Secundarios.</h4>
            <h6>Winner School - Lima</h6>
            <h6>Alexander Von Humboldt - Chincha</h6>
            <h4 class="text-primary py-2">Estudios Universitarios</h4>
            <h6>Servicio Nacional de Adiestramiento en Trabajo Industrial - SENATI</h6>
            <h6>Cursando 4To Semestre "Ingeniería de Software I.A"</h6>
            <h4 class="text-primary py-2">Otros Estudios</h4>
            <h6>Estudios primaria y 2do secundaria: Winner School - Lima</h6>
            <h4 class="text-primary py-2">Idiomas</h4>
            <h6>Ingles - Basico</h6>

            <div class="py-3">
              <hr>
            </div>
            <h4 class="info text-primary">Referencias Personales</h4>
            <li>Rodrigo Fabrizio Barrios Saavedra</li>
            <li>Estudiante <b class="text-primary">SENATI</b></li>
            <li>correo: fabriziobarrios22@gmail.com</li>
            <li>Tel: 933103242</li>
          </div>
        </div>
      </div>

      <hr class="py-2">

      <div class="h-100 p-5 bg-light border rounded-3 shadow-lg">
        <h3 class="text-primary">Principales Habilidades</h3>
        <h5 class="info">Cuento con conocimientos basicos de lenguajes de programacion: <b>Java, Html, Css, PHP, Python, Base y estructura de Datos (SQL server - MySQL workbench - SQLyog), diseño y modelado de Software (UML con draw.io - erwin data modeler), ensamblado de computadoras y mantenimiento de pc's, paquete de office basico (power point, word, excel) y sistemas operativos (ubuntu).</b></h5>
        <h4 class="text-primary">Informacion Adicional</h4>
        <ul>
          <h5>Certificado freecodecamp: <b>Responsive Web Design</b></h5>
          <h5>Certificado <b>Java 11 Fundamentals</b></h5>
          <h5>Certificados de <b class="fw-semibold">CISCO NETWORKING ACADEMY</b></h5>
          <ul>
            <li class="bi bi-laptop">&nbsp;<b>Entrepreneurship</b></li>
            <li class="bi bi-laptop">&nbsp;<b>Get Connected</b></li>
            <li class="bi bi-laptop">&nbsp;<b>Introducción a IoT</b></li>
            <li class="bi bi-laptop">&nbsp;<b>Introducción a la Seguridad Cibernética</b></li>
          </ul>
        </ul>

        <hr class="py-2">
      </div>
    </div>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>